{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.cache {:mvn/version "1.1.234"}
        cljfx {:mvn/version "1.9.3"}
        clj-pdf {:mvn/version "2.6.9"}}
 :aliases {:uberjar {:extra-deps {seancorfield/depstar {:mvn/version "2.1.303"}}
                     :main-opts ["-m" "hf.depstar.uberjar" "dist/vbr-generate-docs.jar"]}}}